# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/

# Output / logs
output/
outputs/
logs/
*.log


# Dataset
datasets/images/
datasets/labels/

# Model weights / checkpoints
*.pt
*.pth
*.ckpt
*.bin
*.onnx
*.engine
*.safetensors

# Model generated artifacts
units/model/checkpoints/
units/model/bert_cache/
units/model/resnet/checkpoints/
units/model/cards/config/train_pos.yaml
# Large pretrained model folders
units/model/bert/
units/model/resnet/

# macOS / editor
.DS_Store
.vscode/
.idea/